@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
nav {
    background-image: url("./images/color.jpg");
    flex-direction: row;
    text-align: center;
    font-family: 'Merienda One', cursive;
    padding: 50px;
    justify-content: space-around;
    padding-bottom: inherit;
}
#nav {
    color: #000000;
}
#nav:hover {
    color: rgb(255, 255, 255);
}
.name {
    font-family: 'Merienda One', cursive;
    color: teal;
    text-align: center;
    font-weight: bolder;
}
ul {
    text-align: center;
    font-weight: 900;
    color: rgb(20, 12, 5);
    font-family: 'Kalam', cursive;
    font-size: large;
}
.brief {
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
}
#cheetah {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-evenly;
}
.projec, .project {
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
}
#lang>p{
    text-align: center;
    color: rgb(231, 12, 12);
    font-size: x-large;
}
#lang>ul>li{
    font-size: x-large;
    font-family: 'Permanent Marker', cursive;
}
#back>h1{
    text-align: center;
    color: rgb(48, 116, 27);
    font-style: oblique;
}
